html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  /*background-image: linear-gradient(to bottom right, #ec9398, #b960d0 );*/
  height: 100%;
}
